body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 50px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #1081c7;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    color: #1081c7;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: color 0.3s;
}

h2:hover {
    color: #0692b4;
}

h3 {
    font-size: 2em;
    color: #555;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: color 0.3s;
}

.profile {
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #125dbf56;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4{
    margin-top: 10px;
    font-size: 1em;
    color: #000000;
    text-align: center;
}

.personalInfo{
    margin-top: 25px 0;
    padding: 5px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h6{
    margin-top: 10px;
    font-size: 1em;
    color: #000000;
    text-align: center;
}

.AboutMe{
    margin: 5px 0;
    padding: 5px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


h5{
    text-align: center;
    font-size: 1em;
    color: #0692b4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: color 0.3s;
}

.input-section,
.button-section {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #000000;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #0692b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a3cadb;
}
